# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.properties
workspace.xml
.idea
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
JavaRushPlugin.properties
.idea/misc.xml
.idea/workspace.xml
.idea/workspace.xml
out
/.idea
.idea/misc.xml
.idea/workspace.xml
4.JavaCollections/4.JavaCollections.iml
idea
.idea/misc.xml
.idea/workspace.xml
*.xml
out/production/4.JavaCollections/com/javarush/task/task20/task2028/Условие.jrtc
*.xml
